{% extends "base.html" %}

{% block content %}
  <div class="account-page">
    <div class="account-sidebar">
     <h1>My Account</h1>
      <nav>
        <ul>
          <li><a href="{% url 'account_info' %}">Account Information</a></li>
          <li><a href="{% url 'address_book' %}">Addresses</a></li>
          <li><a href="{% url 'order_history' %}">Orders</a></li>
          <li><a href="{% url 'my_returns' %}">Returns</a></li>
        </ul>
      </nav>

    <div class="account-content">
      <h2>Account Information</h2>
      <p>Здесь можно изменить имя, почту и пароль</p>

      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="first_name">Имя:</label>
        <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">

        <label for="last_name">Фамилия:</label>
        <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">

        <button type="submit">Сохранить изменения</button>
      </form>

      <hr>

      <h3>Изменить пароль</h3>
      <a href="{% url 'account_change_password' %}" class="btn-login">Сменить пароль</a>
    </div>
  </div>
{% endblock %}