{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  <h1>My Account</h1>
  <nav>
    <ul>
      <li><a href="/profile/">Account Dashboard</a></li>
      <li><a href="{% url 'account_info' %}">Account Information</a></li>
      <li><a href="{% url 'order_history' %}">Orders</a></li>
      <li><a href="{% url 'my_returns' %}">Returns</a></li>
      <li><a href="{% url 'account_logout' %}" class="logout-link">Logout</a></li>
    </ul>
  </nav>
{% endblock %}