{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GearCore</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">

        <header>
            <div class="logo">
              <h1><a href="/">GearCore</a></h1>
            </div>

            <div class="center-section">

              <div class="dropdown" id="catalog-dropdown">
                <button class="dropdown-btn">Каталог товаров ⯆</button>
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <span class="submenu-trigger">🎮 Товары для геймеров ⯈</span>
                    <div class="submenu">
                      {% for category in catalog_categories %}
                        <div class="submenu-column">
                          <strong>
                            <a href="{% url 'products_by_category' category.name %}">{{ category.name }}</a>
                          </strong>
                          {% for brand in category.brands.all %}
                            <a href="{% url 'product_by_brand' brand.name %}">{{ brand.name }}</a>
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <form action="{% url 'product_search' %}" method="get" class="search-form">
                <input name="q" type="text" placeholder="Поиск товаров..." value="{{ request.GET.q }}">
                <button type="submit" class="search-button">🔍</button>
              </form>
            </div>

            <div class="right-section">
              {% if user.is_authenticated %}
                <div class="account-info">
                  <img src="{% static 'img/profile.png' %}" alt="Профиль" class="profile-icon">
                  <a href="/profile/" class="account-text">My Account</a>
                </div>
              {% else %}
                <a href="{% url 'account_login' %}" class="btn-login">Войти</a>
              {% endif %}
            </div>

        </header>


        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 GearCore. Все права защищены.</p>
        </footer>
    </div>

<script src="{% static 'js/menu.js' %}"></script>
</body>
</html>