{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="video-background" data-videos='[
  "{% static "videos/video1.mp4" %}",
  "{% static "videos/video2.mp4" %}",
  "{% static "videos/video4.mp4" %}"
]'>
  <video id="bg-video" autoplay muted playsinline></video>

  <div class="hero-text">
    <h2>EVERYTHING YOU NEED</h2>
    <h1>TO <b>PERFORM</b> YOUR BEST</h1>
    <a href="#brands" class="scroll-down">&#8595;</a>
  </div>
</div>

<div class="brands-row" id="brands">
  {% for brand in brands %}
    <a href="{% url 'product_by_brand' brand.name %}" class="brand-card-link">
      <div class="brand-card">
        {% if brand.logo %}
          <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="brand-logo">
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

<div class="line-with-text">
    <h2 id="product-title">Наши продукты</h2>
    <div class="line"></div>
</div>

<div class="products">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description|truncatewords:20 }}</p>
        <span class="price">{{ product.price }} грн</span>
        <div class="tags">
            {% for tag in product.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
        <a href="{% url 'add_to_cart' product.id %}">🛒 Корзина</a>
        <a href="{% url 'product_detail' product.name %}">Подробние</a>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/video-bg.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}