{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля</title>
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}" />
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>
  <div class="auth-wrapper">
    <form method="post" novalidate>
      <h2>Смена пароля</h2>
      {% csrf_token %}

      <label for="old_password">Старый пароль:</label>
      <input type="password" name="old_password" id="old_password" required>

      <label for="new_password1">Новый пароль:</label>
      <input type="password" name="new_password1" id="new_password1" required>

      <label for="new_password2">Повторите новый пароль:</label>
      <input type="password" name="new_password2" id="new_password2" required>

      <button type="submit">Изменить пароль</button>

      {% if error %}
        <p class="message error-message">{{ error }}</p>
      {% elif success %}
        <p class="message success-message">Пароль успешно изменён</p>
      {% endif %}
    </form>

    <div class="auth-link">
      <a href="{% url 'account_info' %}">&larr; Назад в профиль</a>
    </div>
  </div>
</body>
</html>