{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>
  <div class="auth-wrapper">
    <form method="post">
      <h2>Вход</h2>
      {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.login.label_tag }}
      {{ form.login }}

      {{ form.password.label_tag }}
      {{ form.password }}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button type="submit">Войти</button>

      <div class="auth-link">
        <a href="{% url 'account_reset_password' %}">Забыли пароль?</a><br>
        <a href="{% url 'account_signup' %}">Нет аккаунта? Зарегистрируйтесь</a>
      </div>
    </form>
  </div>
</body>
</html>