{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Сброс пароля</title>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
  <div class="auth-wrapper">
    <form method="post">
      <h2>Сброс пароля</h2>
      {% csrf_token %}
      {{ form.email.label_tag }}
      {{ form.email }}

      <button type="submit">Отправить ссылку</button>

      <div class="auth-link">
        <a href="{% url 'account_login' %}">Вернуться ко входу</a>
      </div>
    </form>
  </div>
</body>
</html>